spring:
  application:
    name: order-service
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin
    listener:
      simple:
        retry:
          enabled: true
          max-attempts: 5
          initial-interval: 1s
server:
  port: 8085